.loginModalWrapper{
    height:100vh;
    width:100vw;
    
}

.ModalBody {
  padding-top: 10px;
}

.ModalHeader{
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}

.Modal{
  background: #200E64;
  width: 500px;
  height: 600px;
  border-radius: 15px;
  padding: 15px;
}

.ModalOverlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);}
